{{- $ThemeVersion := "4.0.3" -}}
<footer class="site-footer">
    <section class="copyright">
        &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} - 
        {{ end }}
        {{ now.Format "2006" }} {{ default .Site.Title .Site.Copyright }}
    </section>
    
    <section class="beian">
        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">津ICP备2026009218号</a>
        &nbsp;|&nbsp;
        <a href="https://beian.mps.gov.cn/#/query/webSearch" target="_blank" rel="noopener noreferrer" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="/img/ghs.png" style="float:left;margin:0 4px 0 0;width:20px;height:20px;"/>津公网安备12011602301097号
        </a>
    </section>
</footer>
